body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(254, 245, 234);
}

#title {
  margin-top: 50px;
  font-weight: 500;
}

#formContainer {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form {
  margin: 0 auto;
  padding: 0 25px;
}

.subject {
  font-weight: 400;
  width: inherit;
  padding-bottom: 5px;
  border-bottom: solid aquamarine;
}

.row {
  width: 200px;
  display: flex;
  direction: row;
  justify-content: space-between;
  cursor: pointer;
}

/* Find option button */
#btn {
  border: none;
  padding: 0.7em 1.7em;
  font-family: inherit;
  font-size: 18px;
  border-radius: 7px;
  background-color: #7fffd4;
  box-shadow: 5px 5px 5px #c5c5c5, -2px -2px 2px rgb(254, 245, 234);
}
#btn:hover {
  box-shadow: 7px 7px 5px #c5c5c5, -2px -2px 2px rgb(254, 245, 234);
}
#btn:active {
  box-shadow: inset 5px 5px 5px #c5c5c5, inset -2px -2px 2px rgb(254, 245, 234);
}

#answer {
  font-weight: 400;
}
